In [24]:
import pandas as pd
import matplotlib.pyplot as plt

df= pd.read_csv("stack-overflow-developer-survey-2023/survey_results_public.csv")

df.columns

df.head()

In [4]:
df=df[['Country','EdLevel','YearsCodePro','Employment','ConvertedCompYearly']]
df=df.rename({'ConvertedCompYearly':'Salary'},axis=1)
df.head()

,Country,EdLevel,YearsCodePro,Employment,Salary
0,NaN,NaN,NaN,NaN,NaN
1,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",9,"Employed, full-time",285000.0
2,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",23,"Employed, full-time",250000.0
3,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",7,"Employed, full-time",156000.0
4,Philippines,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",4,"Employed, full-time;Independent contractor, fr...",23456.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       87973 non-null  object
 1   EdLevel       87973 non-null  object
 2   YearsCodePro  66136 non-null  object
 3   Employment    87898 non-null  object
 4   Salary        48019 non-null  float64
dtypes: float64(1), object(4)
memory usage: 3.4+ MB

In [6]:
##now the salary coloumn has Naan values ..we will eliminate them
df=df[df['Salary'].notnull()]
df.head()

,Country,EdLevel,YearsCodePro,Employment,Salary
1,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",9,"Employed, full-time",285000.0
2,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",23,"Employed, full-time",250000.0
3,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",7,"Employed, full-time",156000.0
4,Philippines,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",4,"Employed, full-time;Independent contractor, fr...",23456.0
5,United Kingdom of Great Britain and Northern I...,Some college/university study without earning ...,21,"Employed, full-time",96828.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48019 entries, 1 to 89171
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       48019 non-null  object
 1   EdLevel       48019 non-null  object
 2   YearsCodePro  47825 non-null  object
 3   Employment    48007 non-null  object
 4   Salary        48019 non-null  float64
dtypes: float64(1), object(4)
memory usage: 2.2+ MB

In [30]:
#drop all the rows where one of the columns is not a number
df=df.dropna()
df.isnull().sum()

ResponseId             0
Q120                   0
MainBranch             0
Age                    0
RemoteWork             0
                      ..
ProfessionalTech       0
Industry               0
SurveyLength           0
SurveyEase             0
ConvertedCompYearly    0
Length: 83, dtype: int64

In [33]:
##we only need data points in which the user was employed full time then drop the employment column
df1 = df[df["Employment"] == "Employed full-time"]
df1 = df.drop("Employment", axis=1)
df1.info()

KeyError: 'Employment'

In [34]:
##time to clean country data
df['Country'].value_counts()

Series([], Name: count, dtype: int64)

In [20]:
if 'Country' in df.columns:
    # Check for missing values in the 'Country' column
    print(df['Country'].isnull().sum())

0

In [21]:
print(df['Country'].unique())

[]

In [22]:
country_counts = df['Country'].value_counts()
print(country_counts)

Series([], Name: count, dtype: int64)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       0 non-null      object
 1   EdLevel       0 non-null      object
 2   YearsCodePro  0 non-null      object
 3   Salary        0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 0.0+ bytes